body, html {
  height: 100%;
}

.bgimg {
  background-image: url(地圖頁面文本-03.jpg);
  min-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
}

/* ----------------------------------------------------------------*/
/* ----------------------回到上一頁 button----------------------*/
.backTo {
  position: absolute;
  top: 9%;
  left: 6%;
  transform: translate(-50%, -50%);
}

.backTo {
  background-color: #f1f1f1;
  color: black;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;

}


/* ----------------------------------------------------------------*/
/* ----------------------前往做筆記 button----------------------*/
a {
  position: absolute;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
}

a {
  background: none;
  color: #ccc;
  width: 240px;
  height: 70px;
  border: 2px solid #338033;
  font-size: 20px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}

a:focus{
  outline: none;
}

a:before{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .5);
  width: 60px;
  height: 100%;
  left:0;
  top: 0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130pc) skewX(-15deg);
}

a:after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scale(-15deg);
}

a:hover{
  background: #338033;
  cursor: pointer;
}

a:hover:before{
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}

a:hover:after{
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}
