body, html {
  height: 100%;
  width: 100%;
  overflow:hidden;
  /* background-size: cover;
  background-attachment: fixed; */
}

#goFS{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(0,0,0,0.7);
  border: none;
}

#goFS:hover {
  background-color: RoyalBlue;
}

.bgimg {
  background-image: url('fmhomepage-01.jpg');
  min-height: 100%;
  background-position: center ;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.bookCover{
  display: inline-block;
}

.book_01 {
  width: 100%;
  max-width: 290px;
  height: auto;
  top: 170px;
  right: 230px;
  padding: 0px;
  position: fixed;
}

/* .book_02 {
  width: 100%;
  max-width: 290px;
  position: fixed;
  height: auto;
  top: 170px;
  right: 200px;
  padding: 0px;
} */
