#toolbar{
  width: 100%;
  height: 90px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  background-color: #000000;
  color: #CBA44B;
}

body {
  background-color: #111118;
  margin:0;
  height: 100%;
}



/**********************/
/* Color Swatches */
nav {
  position: fixed;
  bottom: 10px;
  left: 30px;
  z-index: 1;
}


nav *{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
}

#canvas{
  display: block;
}


/**********************/
/* Clear Button */
.clearCanvas {
  position: fixed;
  /* margin-left: 20px;
  margin-top: 10px; */
  bottom: 30px;
  right: 90px;
  padding: 10px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: '#ffff';
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
}

.clearCanvas:hover{
  background-color: #3e8e41;
}

.clearCanvas:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/**********************/
/* Brush Size Slider */
/* The slider itself */
.slider {
  position: fixed;
  bottom: 30px;
  left: 370px;
}

.slider {
  -webkit-appearance: none; /* Override default CSS style */
  appearnce: none;
  display: inline-block;
  width: 150px; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency for mouse over effect */
  -webkit-transition: -.2s; /* 0.2s transition on hover effect */
  transition: opacity .2s;
}

/* Mouse over effect */
.slider:hover{
  opacity: 1;
}

/* Slider handle (use -webkit- 0r -moz- to override browser default look)*/
.slider::-webkit-slider-thumb {
  -webkit-appearnce: none; /* Override default look */
  appearnce: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* slider handle height */
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


/**********************/
/* Erase Button */
.erase {
  position: fixed;
  left: 550px;
  bottom: 25px;
}

.erase{
  background-color: #6666FF;
  border: none;
  box-shadow: 0 5px #999;
  display: inline-block;
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.erase:hover{
  background-color: #808080;
}

.erase:active{
  background-color: #6633CC;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/**********************/
/* submitDrawing Button */
.submitDraw {
  font-family: 'IBM Plex Mono', monospace;
  background-color: transparent;
  top: 40px;
  right: 60px;
  width: 100px;
  height: 60px;
  border: solid 1px white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  text-align: center;
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submitDraw:after {
   content: '';
   background-color: rgba(255,255,255, 0.1);
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   z-index:2;
   left: 0px;
   top: 0px;
   border-radius: inherit;
   transition: all 0.3s ease-in-out;
}

.submitDraw:hover {
  background-color: rgba(255,255,255, 0.3);
  transition: all 0.4s ease 0s;
}



/**********************/
/* Back to previous Button */
/* back to previous page button */
.backTo {
  font-family: 'IBM Plex Mono', monospace;
  background-color: transparent;
  top: 40px;
  left: 50px;
  width: 70px;
  height: 70px;
  border: solid 1px white;
  border-radius: 80px;
  color: white;
  font-size: 40px;
  text-align: center;
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.backTo:after {
   content: '';
   background-color: rgba(255,255,255, 0.1);
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   z-index:2;
   left: 0px;
   top: 0px;
   border-radius: inherit;
   transition: all 0.3s ease-in-out;
}

.round {
  border-radius: 100%;
}

.backTo:hover {
  background-color: rgba(255,255,255, 0.3);
  transition: all 0.4s ease 0s;
}




/**********************/
/* 新增 */
/* Sticker Tool Bar */
#stickerToolBar {
  position: absolute;
  bottom: 90px;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  background-color: lightblue;
}

.stickerButton {
  position: fixed;
  left: 650px;
  bottom: 25px;
  cursor: pointer;
}

#border {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
}


/**********************/
/* Button for done stickering */
#stickerDone {
  position: absolute;
  top: 150px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 50px;
  display: inline-block;
}

#stickerDone:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index:2;
  left: 0px;
  top: 0px;
}
